.button {
  background: transparent;
  border: 0;
  padding: 5px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
  transition: background 0.3s linear;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: rgb(from var(--main-text-color) r g b / 10%);
  }
}

.groupName {
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--main-text-color);
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    flex-shrink: 0;
  }
}

.shortcut {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
}

.shortcutIcon {
  background-color: rgb(from var(--main-text-color) r g b / 10%);
  color: var(--main-text-color);
  padding: 4px 8px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
}

.item {
  padding: 12px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;

  &[data-active='true'] {
    background-color: rgb(from var(--main-text-color) r g b / 10%);
  }
}

.positioner {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  inset: 0;
  padding: 14vh 16px 16px;
  background: #0000009d;
  box-sizing: border-box;
}

.animator {
  background-color: var(--main-background-color);
  max-width: 600px;
  width: 100%;
  color: var(--main-text-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  backdrop-filter: saturate(300%) blur(25px);

  /* Hide scrollbar for Chrome, Safari and Opera */
  & > div > div::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & > div > div {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.search {
  padding: 12px 0;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0 0 0 10px;
  background: var(--main-background-color);
  color: var(--main-text-color);
}
