.container {
  composes: container from '~/components/Container/styles.module.css';
  margin-bottom: 50px;

  nav {
    margin-bottom: 50px;
  }

  @media (width >= 760px) {
    nav {
      margin-bottom: 0;
    }
  }
}

.label {
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

.link {
  color: var(--main-accent-color);
  text-decoration: none;
  box-shadow: none;

  &:hover,
  &:focus {
    border-bottom: 1px solid var(--main-accent-color);
    outline: none;
  }
}
